<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.koitt" />
	
	<!-- 트랜젝션 관리를 위해 매니저 만듬 -->
	<bean id="transactionManager"
		class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />
		
	
	<!-- job-meta 메모리에 저장하기 -->
	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
		<property name="transactionManager" ref="transactionManager" />	
	</bean>

	<!-- 잡을 실행하기 위해 런처만듬 -->
	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />	
	</bean>
	
	<!-- 테스크 스케듈러라는걸 만듬 -->
	<import resource="./spring-task-scheduler.xml" />
 	<import resource="../jobs/job-report.xml"/> 
	
</beans>
